<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Acerca del autor</h1>
    <p>Este blog ha sido creado por Jorge Martínez</p>
    <img src="/images/avatar.jpg" width="200"/>
    
  </body>
</html>