<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Bienvenidos al blog de Jorge. Aquí podréis ver y crear distintos posts.</p>
  </body>
</html>
