<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title>Blog de Jorge</title>
 <link rel='stylesheet'
 href='../stylesheets/style.css' />
</head>
<body>
<nav>
 <a href="/">Home</a>
 <a href="/author">Author</a>
 <a href="/posts">Posts</a>
</nav>
<section>
 <div>
 <%- body %>
 </div>
</section>
</body>
</html>
