<!DOCTYPE html>
<html>
<head>
    <title>Blog de Jorge</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>
<body>
<h1>
    Crear post:
</h1>

<form method="post"  action="/posts" enctype="multipart/form-data" >

    <%- include('_form.ejs') %>

</form>
</body>
</html>